{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        {% block title %}{% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
</head>
<header>
    <nav id="nav">
        <ul>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'show_my_tasks' %}">My tasks</a>
            </li>
            <li>
                <a href="{% url 'list_projects' %}">My projects</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
            <li>
                <form class="d-flex" method=POST action="{% url 'search' %}">
                    {% csrf_token %}

                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                        name="searched">
                    <button class="btn btn-outline-secondary" type="submit">Search projects</button>
                </form>
            </li>
            {% else %}
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
            <li>
                <a href="{% url 'signup' %}">Signup</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</header>

<body>
    {% block content %}{% endblock content %}
    <footer>

    </footer>
    </header>
</body>

</html>
