{% extends 'base.html' %}

{% block title %}
Login
{% endblock title %}

{% block content %}

<main>
    <div class="my-tasks-list">
        <h1>My Tasks</h1>
        {% if tasks|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for item in tasks %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.start_date }}</td>
                    <td>{{ item.due_date }}</td>
                    <td>{{ item.is_completed|yesno }}</td>
                </tr>
                {% endfor %}
                {% elif tasks|length == 0 %}
                <p>You have no tasks</p>
                {% endif %}
                </tbdody>
        </table>
    </div>
</main>
{% endblock content %}
