{% extends 'base.html' %}

{% block title %}
Login
{% endblock title %}

{% block content %}

<main>
    <div class="project-detail">
        <h1>{{ list_projects.name }}</h1>
        <p>{{ list_projects.description }}</p>
        <h2>Tasks</h2>
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>
        {% if projects_object.tasks.all|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for item in projects_object.tasks.all %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.assignee }}</td>
                    <td>{{ item.start_date }}</td>
                    <td>{{ item.due_date }}</td>
                    <td>{{ item.is_completed|yesno }}</td>
                </tr>
                {% endfor %}
                {% elif projects_object.tasks.all|length == 0 %}
                <p>This project has no tasks</p>
                {% endif %}
                </tbdody>
        </table>
    </div>
</main>
{% endblock content %}
