{% extends 'base.html' %}

{% block title %}
Login
{% endblock title %}

{% block content %}

<main>
    <div class="project-list">
        <h1>Projects</h1>
        <p>
            <a href="{% url 'create_project' %}">Create a new project</a>
        </p>
        {% if list_projects|length == 0 %}
        <p>You are not assigned to any projects</p>
    </div>
    {% elif list_projects|length > 0 %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of tasks</th>
            </tr>
        </thead>
        <tbody>
            {% for item in list_projects %}
            <tr>
                <td>
                    <a href="{% url 'show_project' item.id %}">{{ item.name }}</a>
                </td>
                <td>{{ item.tasks.all|length }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</main>
{% endblock content %}
