{% extends 'base.html' %}

{% block title %}
Login
{% endblock title %}

{% block content %}

<main>
    <div class="project-search">
        {% if searched %}
        <h1>You searched for {{ searched }}</h1>
        <br />
        {% for project in projects %}
        <a href="{% url 'show_project' project.id %}">{{ project }}</a>
        <br />
        {% endfor %}
        {% else %}
        <h1>You didn't search for anything</h1>
        {% endif %}
    </div>
</main>
{% endblock content %}
